Repository datum-cloud/staff-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: bunx eslint {staged_files} --fix
  auto_add: true

prettier:
  run: bunx prettier --write {staged_files}
  auto_add: true

Revert "Fix for tertiary buttons"
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/styles/theme-alpha.css
Due: none

Adding figma tokens and theme from cloud-portal
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/styles/root.css
  app/styles/theme-alpha.css
Due: none

Adding quaternary to demo
  app/components/demo/button-enhanced-demo.tsx
Due: eslint, prettier

chore: configure Claude Code datum plugins
  .claude/settings.json
Due: prettier

Cleaning up CSS imports to a single import from datum-ui
  app/styles/root.css
Due: none

Background Task Queue integration for Staff Portal
  app/components/app-topbar/index.tsx
  app/layouts/private.layout.tsx
  app/modules/datum-ui/data-table/components/data-table-select-actions.tsx
  app/modules/datum-ui/task-queue/FUTURE_ENHANCEMENTS.md
  app/modules/datum-ui/task-queue/README.md
  app/modules/datum-ui/task-queue/constants.ts
  app/modules/datum-ui/task-queue/core/index.ts
  app/modules/datum-ui/task-queue/core/task-panel-actions.tsx
  app/modules/datum-ui/task-queue/core/task-panel-counter.tsx
  app/modules/datum-ui/task-queue/core/task-panel-header.tsx
  app/modules/datum-ui/task-queue/core/task-panel-item.tsx
  app/modules/datum-ui/task-queue/core/task-panel.tsx
  app/modules/datum-ui/task-queue/core/task-queue-dropdown.tsx
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
  app/modules/datum-ui/task-queue/core/task-summary-dialog.tsx
  app/modules/datum-ui/task-queue/engine/executor.ts
  app/modules/datum-ui/task-queue/engine/index.ts
  app/modules/datum-ui/task-queue/engine/queue.ts
  app/modules/datum-ui/task-queue/engine/storage/detect-storage.ts
  app/modules/datum-ui/task-queue/engine/storage/index.ts
  app/modules/datum-ui/task-queue/engine/storage/local-storage.ts
  app/modules/datum-ui/task-queue/engine/storage/memory-storage.ts
  app/modules/datum-ui/task-queue/engine/storage/redis-storage.ts
  app/modules/datum-ui/task-queue/engine/storage/storage.ts
  app/modules/datum-ui/task-queue/hooks/index.ts
  app/modules/datum-ui/task-queue/hooks/use-task-queue.ts
  app/modules/datum-ui/task-queue/hooks/use-task-scope.ts
  app/modules/datum-ui/task-queue/index.ts
  app/modules/datum-ui/task-queue/provider/index.ts
  app/modules/datum-ui/task-queue/provider/task-queue-provider.tsx
  app/modules/datum-ui/task-queue/types.ts
  app/modules/datum-ui/task-queue/utils/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/contact-group/index.tsx
Due: eslint, prettier

Bumping datum-ui, rebasing to main
  package.json
  pnpm-lock.yaml
Due: prettier

Removing pnpm file
  pnpm-lock.yaml
Due: none

Adding bun.lock file
  bun.lock
Due: none

Removing unused @hono/otel
  bun.lock
  package.json
Due: prettier

Fix quota queries to use proper control-plane context and namespace
  app/resources/request/client/quota.request.ts
Due: eslint, prettier

Update organization quota queries to use organization namespace
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/quota.request.ts
Due: eslint, prettier

Upgrade prettier-plugin-tailwindcss to fix initialization error
  bun.lock
  package.json
Due: prettier

Fix vitest.config.ts to import defineConfig from vitest/config
  vitest.config.ts
Due: eslint, prettier

Format vitest.config.ts
  vitest.config.ts
Due: eslint, prettier

Fixing dockerfile groupadd/useradd commands
  Dockerfile
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

Enhance quota management components by adding create and delete grant functions
  app/features/quota/components/quota-bucket-list.tsx
  app/features/quota/components/quota-grant-list.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/resources/request/client/quota.request.ts
  app/routes/organization/detail/quota/grant.tsx
  app/routes/organization/detail/quota/usage.tsx
  app/routes/project/detail/quota/grant.tsx
  app/routes/project/detail/quota/usage.tsx
Due: eslint, prettier

Adding notes to domain view
  app/features/domain/components/create-note-form.tsx
  app/features/domain/components/note-card.tsx
  app/features/domain/components/notes-list.tsx
  app/features/domain/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/openapi/notes.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/notes.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/notes.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/index.ts
  app/resources/request/client/note.request.ts
  app/resources/request/server/project.request.ts
  app/routes/project/detail/domain/detail.tsx
Due: eslint, prettier

Adjusting note list and author
  app/features/domain/components/note-card.tsx
  app/features/domain/components/notes-list.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/routes/project/detail/domain/detail.tsx
Due: eslint, prettier

fix: pass disabled through buttonProps in NoteCard delete button
  app/features/domain/components/note-card.tsx
Due: eslint, prettier

feat: replace app-search with full-text search API
  app/components/app-search/index.tsx
  app/components/app-search/search-result-group.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/types.gen.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/index.ts
  app/resources/request/client/search.request.ts
  app/resources/request/client/user.request.ts
Due: eslint, prettier

chore: apply prettier formatting to search feature files
  app/components/app-search/index.tsx
  app/resources/openapi/identity.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/types.gen.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/search.request.ts
Due: eslint, prettier

feat: integrate @datum-cloud/datum-ui and update theme provider usage across components
  app/components/logo/logo-icon.tsx
  app/components/logo/logo-text.tsx
  app/components/logo/logo.tsx
  app/components/theme-switcher/index.tsx
  app/features/preferences/components/preferences-form.tsx
  app/features/preferences/components/theme-preview.tsx
  app/modules/datum-ui/client-data-table/components/client-data-table-loading.tsx
  app/modules/datum-ui/code-editor/components/code-editor.tsx
  app/modules/datum-ui/data-table/components/data-table-loading.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/providers/app.provider.tsx
  app/root.tsx
  app/styles/root.css
  bun.lock
  package.json
Due: eslint, prettier

Migrating Alert
  app/features/contact/components/contact-form.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/root.tsx
Due: eslint, prettier

Migrating Tooltip
  app/components/badge/badge-condition.tsx
  app/components/badge/badge-state.test.tsx
  app/components/badge/badge-state.tsx
  app/components/button/button-copy.tsx
  app/components/button/button-delete-action.test.tsx
  app/components/button/button-delete-action.tsx
  app/components/date/date-time.tsx
  app/components/demo/card-chat.tsx
  app/features/user/components/user-identity-card.tsx
  app/modules/datum-ui/data-table/components/data-table-active-filters.tsx
  app/modules/datum-ui/form/form-autosearch.tsx
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
  app/routes/project/detail/httpproxy/detail.tsx
Due: eslint, prettier

Formatting code
  app/components/button/button-copy.tsx
  app/components/button/button-delete-action.tsx
  app/features/user/components/user-identity-card.tsx
  app/modules/datum-ui/form/form-autosearch.tsx
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
Due: eslint, prettier

Migrating typography
  app/components/app-search/index.tsx
  app/components/app-search/search-result-group.tsx
  app/components/danger-zone-card/index.test.tsx
  app/components/danger-zone-card/index.tsx
  app/components/demo/form-demo.tsx
  app/components/display/display-name.tsx
  app/features/contact/components/contact-form.tsx
  app/features/dashboard/components/recent-users-widget.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/domain/components/domain-status-probe.tsx
  app/features/domain/components/note-card.tsx
  app/features/domain/components/notes-list.tsx
  app/features/email/components/email-detail.tsx
  app/features/email/components/email-list.tsx
  app/features/preferences/components/preferences-form.tsx
  app/features/quota/components/quota-bucket-list.tsx
  app/routes/organization/detail/index.tsx
  app/routes/project/detail/dns/detail.tsx
  app/routes/project/detail/domain/detail.tsx
  app/routes/project/detail/export-policy/detail.tsx
  app/routes/project/detail/httpproxy/detail.tsx
  app/routes/project/detail/index.tsx
  app/routes/user/detail/index.tsx
Due: eslint, prettier

Formatting code
  app/components/danger-zone-card/index.tsx
  app/components/demo/form-demo.tsx
  app/features/contact/components/contact-form.tsx
  app/features/dashboard/components/recent-users-widget.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/domain/components/note-card.tsx
  app/features/email/components/email-list.tsx
  app/features/preferences/components/preferences-form.tsx
  app/features/quota/components/quota-bucket-list.tsx
  app/routes/organization/detail/index.tsx
  app/routes/project/detail/dns/detail.tsx
  app/routes/project/detail/export-policy/detail.tsx
  app/routes/project/detail/index.tsx
  app/routes/user/detail/index.tsx
Due: eslint, prettier

Migrating Toast
  app/components/button/button-copy.tsx
  app/components/demo/form-demo.tsx
  app/features/contact-group/components/contact-group-form.tsx
  app/features/contact/components/contact-form.tsx
  app/features/contact/components/contact-list.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/domain/components/note-card.tsx
  app/features/preferences/components/preferences-form.tsx
  app/features/profile/components/profile-form.tsx
  app/features/quota/components/quota-bucket-list.tsx
  app/features/user/hooks/useUserApproval.ts
  app/modules/axios/axios.client.ts
  app/modules/datum-ui/code-editor/components/code-editor-tabs.tsx
  app/root.tsx
  app/routes/contact-group/detail/member.tsx
  app/routes/contact-group/index.tsx
  app/routes/contact/detail/group.tsx
  app/routes/group/member.tsx
  app/routes/organization/detail/index.tsx
  app/routes/organization/detail/member.tsx
  app/routes/project/detail/index.tsx
  app/routes/user/detail/index.tsx
  app/routes/user/index.tsx
Due: eslint, prettier

Formatting code
  app/components/button/button-copy.tsx
  app/components/demo/form-demo.tsx
  app/features/contact-group/components/contact-group-form.tsx
  app/features/contact/components/contact-form.tsx
  app/features/contact/components/contact-list.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/domain/components/note-card.tsx
  app/features/preferences/components/preferences-form.tsx
  app/features/profile/components/profile-form.tsx
  app/features/quota/components/quota-bucket-list.tsx
  app/routes/contact-group/detail/member.tsx
  app/routes/contact-group/index.tsx
  app/routes/contact/detail/group.tsx
  app/routes/group/member.tsx
  app/routes/organization/detail/index.tsx
  app/routes/organization/detail/member.tsx
  app/routes/project/detail/index.tsx
  app/routes/user/detail/index.tsx
  app/routes/user/index.tsx
Due: eslint, prettier

Migrating Button
  app/components/button/button-delete-action.test.tsx
  app/components/button/button-delete-action.tsx
  app/components/danger-zone-card/index.test.tsx
  app/components/danger-zone-card/index.tsx
  app/components/demo/button-enhanced-demo.tsx
  app/components/demo/form-demo.tsx
  app/components/dialog/dialog-confirm.tsx
  app/components/dialog/dialog-form.tsx
  app/features/contact-group/components/contact-group-form.tsx
  app/features/contact/components/contact-form.tsx
  app/features/dashboard/components/recent-users-widget.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/profile/components/profile-form.tsx
  app/features/user/components/user-identity-card.tsx
  app/modules/datum-ui/data-table/components/data-table-facet-filter.tsx
  app/modules/datum-ui/form/form-autosearch.tsx
  app/modules/datum-ui/task-queue/core/task-panel-actions.tsx
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
  app/modules/datum-ui/task-queue/core/task-summary-dialog.tsx
  app/modules/datum-ui/task-queue/types.ts
  app/routes/contact-group/detail/member.tsx
  app/routes/contact-group/index.tsx
  app/routes/contact/detail/group.tsx
  app/routes/contact/index.tsx
  app/routes/error/not-found.tsx
  app/routes/error/oauth-error.tsx
  app/routes/group/member.tsx
  app/routes/user/detail/index.tsx
  app/routes/user/index.tsx
  bun.lock
  package.json
Due: eslint, prettier

Formattin code
  app/components/button/button-delete-action.tsx
  app/components/danger-zone-card/index.tsx
  app/components/demo/form-demo.tsx
  app/features/contact-group/components/contact-group-form.tsx
  app/features/contact/components/contact-form.tsx
  app/features/dashboard/components/recent-users-widget.tsx
  app/features/domain/components/create-note-form.tsx
  app/features/profile/components/profile-form.tsx
  app/features/user/components/user-identity-card.tsx
  app/modules/datum-ui/form/form-autosearch.tsx
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
  app/routes/contact-group/detail/member.tsx
  app/routes/contact-group/index.tsx
  app/routes/contact/detail/group.tsx
  app/routes/group/member.tsx
  app/routes/user/detail/index.tsx
  app/routes/user/index.tsx
Due: eslint, prettier

Migrating Grid
  app/routes/contact-group/create.tsx
  app/routes/contact-group/detail/index.tsx
  app/routes/contact/create.tsx
  app/routes/contact/detail/index.tsx
  app/routes/profile/setting.tsx
Due: eslint, prettier

Fixing types error
  app/modules/datum-ui/task-queue/core/task-queue-trigger.tsx
Due: eslint, prettier

Update imports to use @datum-cloud/datum-ui for TaskQueue components
  app/components/app-topbar/index.tsx
  app/layouts/private.layout.tsx
  app/routes/contact-group/index.tsx
Due: eslint, prettier

chore: add dev container support to vite config
  vite.config.ts
Due: eslint, prettier

chore: relax CSP headers for dev container environment
  app/server/entry.ts
Due: eslint, prettier

refactor: revert unrelated entry.ts CSP changes from activity-ui PR
  app/server/entry.ts
Due: eslint, prettier

refactor: revert unrelated vite.config.ts changes from activity-ui PR
  vite.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}, but not: locales/*
  prettier: any of: *.{js,jsx,ts,tsx,json}, but not: locales/*
