Repository datum-cloud/staff-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: bunx eslint {staged_files} --fix
  auto_add: true

prettier:
  run: bunx prettier --write {staged_files}
  auto_add: true

feat: block non-staff users from accessing the portal
  app/layouts/private.layout.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/server/group.request.ts
  app/routes.ts
  app/routes/error/unauthorized.tsx
  app/utils/config/env.server.ts
Due: eslint, prettier

chore: regenerate i18n catalogs after rebase
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.ts
Due: none

fix: handle 403 on group membership check and match error page style
  app/layouts/private.layout.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/error/unauthorized.tsx
Due: eslint, prettier

fix: improve table search coverage and add missing filters
  app/features/email/components/email-list.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/fraud/index.tsx
  app/routes/organization/detail/member.tsx
  app/routes/project/detail/dns/index.tsx
  app/routes/user/index.tsx
Due: eslint, prettier

chore(deps): bump @typescript-eslint to ^8.59.0 for ESLint v10 support
  bun.lock
  package.json
Due: prettier

fix(lint): add @eslint/compat and wrap legacy plugins for ESLint v10
  bun.lock
  eslint.config.mjs
  package.json
Due: prettier

fix: update fallbackLocales type for Lingui v6 migration
  app/components/breadcrumb/breadcrumb.tsx
  app/features/fraud/detail/evaluation-sections.tsx
  app/modules/i18n/lingui.server.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/fraud/index.tsx
  app/routes/group/index.tsx
  app/routes/group/member.tsx
Due: eslint, prettier

Lingui extract
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.ts
Due: none

extract lingui
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.ts
Due: none

ci: add Node.js 22 setup for Lingui v6 compatibility
  .github/workflows/quality-checks.yml
Due: none

fix: remove deprecated baseUrl for TypeScript 6 compatibility
  tsconfig.json
Due: prettier

Updating deps
  bun.lock
  package.json
Due: prettier

fix: build correct project links from search result tenant info
  app/components/app-search/search-result-group.tsx
  app/components/app-search/search-results.tsx
  app/resources/openapi/search.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/search.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/apis/search.api.ts
Due: eslint, prettier

fix: use ref to ensure member searchFn sees latest userMap
  app/routes/group/member.tsx
Due: eslint, prettier

fix: drop headers option from OTel gRPC trace exporter
  observability/providers/otel.ts
Due: eslint, prettier

fix: bump vitest to 4.1+ for Vite 8 compatibility
  bun.lock
  package.json
Due: prettier

chore: replace vite-tsconfig-paths with native Vite 8 resolver
  bun.lock
  package.json
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier

feat(fraud): add View on MaxMind deep-link to maxmind provider step
  app/features/fraud/detail/evaluation-sections.tsx
  app/hooks/use-env.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/root.tsx
  app/utils/config/env.server.ts
Due: eslint, prettier

fix: align with eslint-plugin-react-hooks v7 strict rules
  app/components/date/date-range-picker.tsx
  app/components/date/date-time.tsx
  app/components/demo/card-payment.tsx
  app/components/error/generic.tsx
  app/components/simple-table/index.tsx
  app/features/assistant/chat/chat-panel.tsx
  app/features/assistant/chat/thinking-block.tsx
  app/features/assistant/chat/use-chat-logic.ts
  app/features/assistant/chat/use-speech-input.ts
  app/features/preferences/components/preferences-form.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/error/not-found.tsx
Due: eslint, prettier

feat(breadcrumb): truncate long chains with ellipsis dropdown
  app/components/breadcrumb/breadcrumb.tsx
  app/routes/project/detail/domain/detail.tsx
Due: eslint, prettier

feat: add maxmind info to user page
  app/features/fraud/detail/maxmind-rows.tsx
  app/features/fraud/detail/maxmind.test.ts
  app/features/fraud/detail/maxmind.ts
  app/features/fraud/index.ts
  app/routes/user/detail/index.tsx
Due: eslint, prettier

chore: update activity-ui
  app/components/activity-layout/index.tsx
  app/routes/activity-hub/feed.tsx
  app/routes/activity-hub/layout.tsx
  app/routes/organization/detail/activity/index.tsx
  app/routes/project/detail/activity/index.tsx
  app/routes/user/detail/activity/index.tsx
  bun.lock
  package.json
Due: eslint, prettier

fix(auth): remove phone and address scopes unsupported by Dex
  app/modules/auth/strategies/zitadel.strategy.ts
Due: eslint, prettier

fix(i18n): extract missing MaxMind labels into catalogs
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

fix(auth): use JWT name claim as sub for Dex compatibility
  app/modules/auth/strategies/zitadel.strategy.ts
  app/resources/request/server/auth.request.ts
Due: eslint, prettier

feat(support,incidents): add support and incidents to staff portal
  app/components/app-sidebar/index.tsx
  app/components/markdown-body/index.tsx
  app/components/markdown-editor/index.tsx
  app/features/support/components/kb-entry-list.tsx
  app/features/support/components/message-thread.tsx
  app/features/support/components/priority-badge.tsx
  app/features/support/components/promote-to-kb-dialog.tsx
  app/features/support/components/reply-form.tsx
  app/features/support/components/ticket-actions.tsx
  app/features/support/components/ticket-detail.tsx
  app/features/support/components/ticket-list.tsx
  app/features/support/components/ticket-nav-buttons.tsx
  app/features/support/components/ticket-status-badge.tsx
  app/features/support/hooks/use-unread-support-count.ts
  app/features/support/index.ts
  app/hooks/use-env.ts
  app/providers/app.provider.tsx
  app/resources/openapi/support.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/support.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/support.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/apis/support.api.ts
  app/resources/request/client/queries/support.queries.ts
  app/resources/request/server/index.ts
  app/resources/request/server/support.request.ts
  app/routes.ts
  app/routes/incidents.tsx
  app/routes/support/$ticketName/index.tsx
  app/routes/support/$ticketName/layout.tsx
  app/routes/support/$ticketName/messages.tsx
  app/routes/support/index.tsx
  app/routes/support/knowledge-base.tsx
  app/routes/support/layout.tsx
  app/routes/support/oncall.tsx
  app/utils/config/routes.config.ts
  bun.lock
  package.json
Due: eslint, prettier

fix(i18n): extract and compile Lingui catalog for support/incidents
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

fix(support): add image upload endpoint; fix markdown editor paste
  app/server/routes/api.ts
Due: eslint, prettier

feat: add Feature Flags page under Quotas
  app/features/feature-flags/components/feature-flag-list.tsx
  app/features/feature-flags/index.ts
  app/resources/request/client/apis/quota.api.ts
  app/routes.ts
  app/routes/organization/detail/layout.tsx
  app/routes/organization/detail/quota/feature-flags.tsx
  app/utils/config/routes.config.ts
Due: eslint, prettier

fix(auth): redirect to logout on 401 instead of unauthorized
  app/layouts/private.layout.tsx
Due: eslint, prettier

feat: add compliance vendors and subprocessors UI
  app/components/app-sidebar/index.tsx
  app/components/dialog/dialog-form.tsx
  app/components/multi-select/index.ts
  app/components/multi-select/multi-select.tsx
  app/features/compliance/index.ts
  app/features/compliance/pills.tsx
  app/features/compliance/types.ts
  app/features/compliance/vendor-form-dialog.tsx
  app/features/compliance/vendor-form.test.tsx
  app/features/compliance/vendor-form.tsx
  app/resources/openapi/compliance.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/compliance.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/compliance.miloapis.com/v1alpha1/types.gen.ts
  app/resources/request/client/apis/compliance.api.ts
  app/resources/request/client/index.ts
  app/resources/request/client/queries/compliance.queries.ts
  app/routes.ts
  app/routes/compliance/index.tsx
  app/routes/compliance/layout.tsx
  app/routes/compliance/subprocessors/detail.tsx
  app/routes/compliance/subprocessors/index.tsx
  app/routes/compliance/subprocessors/layout.tsx
  app/routes/compliance/vendors/detail.tsx
  app/routes/compliance/vendors/index.tsx
  app/routes/compliance/vendors/layout.tsx
  app/utils/config/routes.config.ts
Due: eslint, prettier

feat: add Usage Metering panel to project detail
  app/resources/openapi/billing.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/billing.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/billing.miloapis.com/v1alpha1/types.gen.ts
  app/resources/openapi/shared/client/types.gen.ts
  app/resources/request/client/apis/control-plane.ts
  app/routes.ts
  app/routes/project/detail/layout.tsx
  app/routes/project/detail/usage/index.tsx
  app/utils/config/env.server.ts
  app/utils/config/routes.config.ts
  openapi-resources.json
Due: eslint, prettier

feat: surface user identities and sessions on staff user detail
  .env.sample
  app/features/user/components/user-identity-card.tsx
  app/modules/graphql/client.ts
  app/modules/graphql/sessions.ts
  app/resources/request/client/apis/identity.api.ts
  app/resources/request/client/queries/identity.queries.ts
  app/routes/user/detail/index.tsx
  app/server/routes/api.ts
  app/server/routes/graphql.ts
  app/utils/config/env.server.ts
Due: eslint, prettier

fix(date-range-picker): drop removed initialFocus prop for react-day-picker v10
  app/components/date/date-range-picker.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
Due: eslint, prettier

chore(i18n): re-extract catalogs and fix lefthook locales exclude
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  lefthook.yml
Due: none

chore: remove generated openapi-resources.json
  openapi-resources.json
Due: prettier

docs(operators): add staff-portal feature flag operator guide
  docs/README.md
  docs/operators/feature-flags.md
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}, but not: locales/*
  prettier: any of: *.{js,jsx,ts,tsx,json}, but not: locales/*
