Repository datum-cloud/staff-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: 'locales/*'
      run: bunx eslint {staged_files} --fix
      auto_add: true
    prettier:
      glob: '*.{js,jsx,ts,tsx,json}'
      exclude: 'locales/*'
      run: bunx prettier --write {staged_files}
      auto_add: true
    i18n:
      run: bunx lingui extract --clean && bunx lingui compile --typescript && git add app/modules/i18n/locales/
      auto_add: true

chore(openapi): regenerate the iam and identity clients from staging
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/openapi/iam.miloapis.com/v1alpha1/types.gen.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/index.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/pending-phase-c.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/sdk.gen.ts
  app/resources/openapi/identity.miloapis.com/v1alpha1/types.gen.ts
  app/routes/profile/session.tsx
Due: eslint, prettier

feat(user): send a passkey recovery link from the user detail page
  app/features/user/components/user-identity-card.tsx
  app/features/user/components/user-recovery-link-dialog.tsx
  app/features/user/components/user-recovery-links-card.tsx
  app/features/user/hooks/usePasskeyRecovery.ts
  app/features/user/index.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/apis/identity.api.ts
  app/resources/request/client/queries/identity.queries.ts
  app/routes/customer/user/detail/index.tsx
Due: eslint, prettier

test(user): cover the passkey recovery flow
  cypress/component/identity-api.cy.ts
  cypress/component/user-detail-recovery.cy.tsx
  cypress/component/user-recovery-link-dialog.cy.tsx
Due: eslint, prettier

fix(graphql): name the gateway operations so they aren't traced as Anonymous
  app/modules/graphql/service-consumers.ts
  app/modules/graphql/sessions.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/resources/request/client/apis/contact-membership.api.ts
  app/resources/request/client/apis/search.api.ts
  app/routes/customer/project/detail/domain/detail.tsx
Due: eslint, prettier

chore(lint): fail on unnamed GraphQL operations (generateQueryOp/Op __name)
  eslint.config.mjs
Due: none

refactor(graphql): normalize organizations + projects to generateQueryOp
  app/modules/graphql/organizations.ts
  app/modules/graphql/projects.ts
Due: eslint, prettier

chore(graphql): regenerate genql types with users + quota operations
  app/modules/graphql/generated/guards.esm.js
  app/modules/graphql/generated/schema.graphql
  app/modules/graphql/generated/schema.ts
  app/modules/graphql/generated/types.esm.js
  graphql.config.json
Due: eslint, prettier

refactor(graphql): normalize quota + users to generateQueryOp
  app/modules/graphql/quota.ts
  app/modules/graphql/users.ts
Due: eslint, prettier

fix(user): drop the inline error from the recovery-link dialog
  app/features/user/components/user-recovery-link-dialog.tsx
  app/features/user/hooks/usePasskeyRecovery.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/customer/user/detail/index.tsx
  cypress/component/user-recovery-link-dialog.cy.tsx
Due: eslint, prettier

feat(user): move passkey recovery links into a dialog behind "View sent links"
  app/features/user/components/user-recovery-links-card.tsx
  app/features/user/components/user-recovery-links-dialog.tsx
  app/features/user/index.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/queries/identity.queries.ts
  app/routes/customer/user/detail/index.tsx
  cypress/component/user-detail-recovery.cy.tsx
Due: eslint, prettier

refactor(user): let a failed recovery-link send propagate as is
  app/features/user/hooks/usePasskeyRecovery.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
Due: eslint, prettier

feat(graphql): typed runGqlQuery helper, resources/gql ops layer, lint guards + docs
  app/modules/graphql/client.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/resources/gql/README.md
  docs/engineering/04-data-and-requests.md
  eslint.config.mjs
Due: eslint, prettier

refactor(graphql): move quota + user reads to the resources/gql ops layer
  app/features/project/components/project-quotas-card.tsx
  app/features/quota/components/quota-bucket-list.tsx
  app/features/quota/components/quota-grant-list.tsx
  app/modules/graphql/quota.ts
  app/modules/graphql/users.ts
  app/resources/gql/quota.gql.ts
  app/resources/gql/user.gql.ts
  app/resources/request/client/apis/quota.api.ts
  app/resources/request/client/apis/user.api.ts
  app/resources/request/client/queries/user.queries.ts
  app/routes/customer/organization/detail/quota/grant.tsx
  app/routes/customer/organization/detail/quota/usage.tsx
  app/routes/customer/project/detail/quota/grant.tsx
  app/routes/customer/project/detail/quota/usage.tsx
  app/routes/customer/user/index.tsx
Due: eslint, prettier

refactor(graphql): move session + service-consumer reads to resources/gql, standardize Gql* naming
  app/modules/graphql/service-consumers.ts
  app/modules/graphql/sessions.ts
  app/resources/gql/service-consumer.gql.ts
  app/resources/gql/session.gql.ts
  app/resources/request/client/apis/identity.api.ts
  app/resources/request/client/apis/service-catalog.api.ts
  app/resources/request/client/queries/identity.queries.ts
  app/resources/request/client/queries/service-catalog.queries.ts
  app/routes/admin/service-catalog/detail/approvals.tsx
  app/routes/admin/service-catalog/detail/consumers.tsx
Due: eslint, prettier

refactor(graphql): move organization + project reads to the resources/gql ops layer
  app/features/activity/components/ProjectsFilter.tsx
  app/features/activity/components/multi-source-activity-feed.tsx
  app/features/organization/components/org-contact-card.tsx
  app/features/organization/components/org-details-card.tsx
  app/features/organization/components/org-members-preview-card.tsx
  app/features/organization/components/org-onboarding-card.tsx
  app/features/organization/lib/onboarding-steps.test.ts
  app/features/organization/lib/onboarding-steps.ts
  app/hooks/use-search.ts
  app/modules/graphql/organizations.ts
  app/modules/graphql/projects.ts
  app/resources/gql/organization.gql.ts
  app/resources/gql/project.gql.ts
  app/resources/request/client/apis/organization.api.ts
  app/resources/request/client/apis/project.api.ts
  app/resources/request/client/queries/organization.queries.ts
  app/resources/request/client/queries/project.queries.ts
  app/routes/customer/organization/detail/member.tsx
  app/routes/customer/organization/detail/project.tsx
  app/routes/customer/organization/index.tsx
  app/routes/customer/project/index.tsx
Due: eslint, prettier

refactor(graphql): move contact-membership + search reads to resources/gql, closes #690
  app/resources/gql/contact-membership.gql.ts
  app/resources/gql/search.gql.ts
  app/resources/request/client/apis/contact-membership.api.ts
  app/resources/request/client/apis/search.api.ts
  app/routes/customer/project/detail/domain/detail.tsx
Due: eslint, prettier

chore(deps): upgrade @datum-cloud/datum-ui to 3.4
  bun.lock
  package.json
Due: prettier

docs(operators): passkey recovery guide
  docs/README.md
  docs/operators/passkey-recovery.md
Due: none

docs(operators): the support recovery mail carries only the link
  docs/operators/passkey-recovery.md
Due: none

docs(operators): tighten the passkey recovery guide
  docs/operators/passkey-recovery.md
Due: none

feat: enable services for consumer projects
  app/resources/request/client/apis/service-catalog.api.test.ts
  app/resources/request/client/apis/service-catalog.api.ts
  app/resources/request/client/queries/service-catalog.queries.ts
  app/routes/admin/service-catalog/detail/consumers.tsx
Due: eslint, prettier

fix: request activation by canonical service name
  app/resources/request/client/apis/service-catalog.api.test.ts
  app/resources/request/client/apis/service-catalog.api.ts
  app/routes/admin/service-catalog/detail/consumers.tsx
Due: eslint, prettier

perf: compress portal pages and scripts at the gateway
  config/base/backend-traffic-policy.yaml
Due: none

fix: give the theme provider's script the CSP nonce
  app/root.tsx
Due: eslint, prettier

fix: share react/jsx-runtime with portal plugins
  app/modules/plugins/client/federation-host.ts
Due: eslint, prettier

feat: Show plugin pages in the project breadcrumb
  app/components/breadcrumb/breadcrumb-provider.tsx
  app/modules/plugins/client/plugin-breadcrumbs.test.ts
  app/modules/plugins/client/plugin-breadcrumbs.ts
  app/routes/customer/project/detail/plugins.tsx
Due: eslint, prettier

fix: Let plugins list metric label values
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/modules/prometheus/client.ts
  app/modules/prometheus/index.ts
  app/modules/prometheus/service.test.ts
  app/modules/prometheus/service.ts
Due: eslint, prettier

fix: compile service activation messages
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

perf: Count pending approvals from the filtered gateway query
  app/features/service-catalog/components/pending-approvals-badge.tsx
Due: eslint, prettier

perf: Load the assistant's chat code only where it is shown
  app/features/assistant/components/assistant-panel.tsx
  app/features/assistant/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/routes/dashboard/index.tsx
Due: eslint, prettier

fix(milo): match horizontal tab nav bg to the card main area (no double background)
  app/features/milo/components/page/entity-tab-nav.tsx
Due: eslint, prettier

feat: Show ALB backends, weights and health checks
  app/features/edge/components/detail/edge-backends-card.tsx
  app/features/edge/components/detail/edge-config-card.tsx
  app/features/edge/components/detail/edge-hostnames-card.tsx
  app/features/edge/components/detail/edge-load-balancing-card.tsx
  app/features/edge/components/detail/edge-origins-card.tsx
  app/features/edge/components/detail/index.ts
  app/features/edge/components/edge-list.tsx
  app/features/edge/index.ts
  app/features/edge/lib/http-proxy.adapter.ts
  app/features/edge/lib/http-proxy.backends.test.ts
  app/features/edge/lib/http-proxy.backends.ts
  app/features/edge/lib/http-proxy.types.ts
  app/features/edge/lib/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/routes/customer/project/detail/edge/detail.tsx
  app/routes/customer/resource/index.tsx
Due: eslint, prettier
