Repository datum-cloud/staff-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: bunx eslint {staged_files} --fix
  auto_add: true

prettier:
  run: bunx prettier --write {staged_files}
  auto_add: true

Remove value column
  app/routes/project/detail/secret/detail.tsx
Due: eslint, prettier

[Fix #116] Improve menu when it's in collapsed mode
  app/components/app-sidebar/index.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
Due: eslint, prettier

Adjust menu
  app/components/app-sidebar/index.tsx
  app/layouts/private.layout.tsx
Due: eslint, prettier

[Fix #142] As a user I should be able to search by Organizations
  app/components/app-search/index.tsx
  app/components/app-search/search-result-group.tsx
  app/components/app-topbar/index.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/organization.request.ts
  app/resources/request/client/project.request.ts
  app/resources/request/client/user.request.ts
  bun.lock
  package.json
Due: eslint, prettier

[Enhance #168] View Signup Log
  app/components/app-sidebar/index.tsx
  app/components/display/display-name.tsx
  app/features/dashboard/components/recent-users-widget.tsx
  app/features/dashboard/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/modules/shadcn/ui/card.tsx
  app/routes/dashboard/index.tsx
Due: eslint, prettier

Connecting to API
  app/features/dashboard/components/recent-users-widget.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/schemas/activity.schema.ts
Due: eslint, prettier

fixing translation
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

[Fix #150] Implement datum-themes: React Router-compatible theme system
  app/components/logo/logo-icon.tsx
  app/components/logo/logo-text.tsx
  app/components/logo/logo.tsx
  app/components/theme-switcher/index.tsx
  app/modules/code-editor/components/code-editor.tsx
  app/modules/datum-themes/README.md
  app/modules/datum-themes/client-only.tsx
  app/modules/datum-themes/index.tsx
  app/modules/datum-themes/script.ts
  app/modules/datum-themes/theme-script.tsx
  app/modules/datum-themes/types.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/modules/shadcn/style.css
  app/root.tsx
  app/routes.ts
  app/routes/action/set-theme.tsx
  app/routes/user/detail/index.tsx
  app/styles/root.css
  app/styles/theme-alpha.css
  app/utils/config/routes.config.ts
  app/utils/cookies/index.ts
  app/utils/cookies/theme.ts
  bun.lock
  package.json
Due: eslint, prettier

chore: use datum action for publish container image
  .github/workflows/publish.yaml
  Dockerfile
Due: none

chore: update action version
  .github/workflows/publish.yaml
Due: none

Update datepicker
  app/components/date/date-formatter.tsx
  app/features/activity/components/activity-list.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  bun.lock
  package.json
Due: eslint, prettier

[Fix #152] Create account settings page
  app/components/app-sidebar/nav-user.tsx
  app/components/app-topbar/index.tsx
  app/components/demo/form-demo.tsx
  app/components/select/autocomplete.tsx
  app/components/select/index.ts
  app/components/select/timezone.tsx
  app/components/select/timezones.json
  app/features/preferences/components/preferences-form.tsx
  app/features/preferences/components/theme-preview.tsx
  app/features/preferences/index.ts
  app/features/profile/components/profile-form.tsx
  app/features/profile/index.ts
  app/layouts/private.layout.tsx
  app/modules/axios/axios.server.ts
  app/modules/datum-themes/index.tsx
  app/modules/datum-ui/form/README.md
  app/modules/datum-ui/form/form-checkbox-group.tsx
  app/modules/datum-ui/form/form-radio-group.tsx
  app/modules/datum-ui/form/form-select.tsx
  app/modules/datum-ui/form/form.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/modules/shadcn/ui/card.tsx
  app/providers/app.provider.tsx
  app/resources/request/client/user.request.ts
  app/resources/schemas/user.schema.ts
  app/routes/account.tsx
  app/routes/user/detail/index.tsx
  app/styles/theme-alpha.css
Due: eslint, prettier

[Fix #158] Implement new font
  app/styles/fonts.css
  app/styles/root.css
  app/styles/theme-alpha.css
  public/fonts/AllianceNo1-Medium.ttf
  public/fonts/AllianceNo1-Regular.ttf
  public/fonts/AllianceNo1-SemiBold.ttf
Due: none

[Fix #134] As a staff user I should be able to see the existing secrets from a project
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/modules/prometheus/README.md
  app/modules/prometheus/client.ts
  app/modules/prometheus/errors.ts
  app/modules/prometheus/formatter.ts
  app/modules/prometheus/index.ts
  app/modules/prometheus/query-builder.ts
  app/modules/prometheus/service.ts
  app/modules/prometheus/types.ts
  app/modules/prometheus/validator.ts
  app/resources/request/client/index.ts
  app/resources/request/client/metrics.request.ts
  app/resources/schemas/index.ts
  app/resources/schemas/secret.schema.ts
  app/routes.ts
  app/routes/project/detail/layout.tsx
  app/routes/project/detail/secret.tsx
  app/server/routes/api.ts
  app/utils/config/routes.config.ts
Due: eslint, prettier

remove unused code
  app/resources/schemas/secret.schema.ts
Due: eslint, prettier

chore: testing new action version
  .github/workflows/publish.yaml
Due: none

chore: sentry token as build arg
  .github/workflows/publish.yaml
  Dockerfile
Due: none

chore: adjust datum action version
  .github/workflows/publish.yaml
Due: none

[Fix #138] Integrate application with Sentry
  .env.sample
  .github/workflows/publish.yaml
  Dockerfile
  app/entry.client.tsx
  app/entry.server.tsx
  app/modules/datum-ui/toast/assets.tsx
  app/providers/app.provider.tsx
  app/root.tsx
  app/routes.ts
  app/routes/test-sentry.tsx
  app/server/entry.ts
  app/utils/config/env.server.ts
  app/utils/config/sentry.config.ts
  app/utils/logger/README.md
  app/utils/logger/index.ts
  app/utils/logger/logger.ts
  app/utils/logger/sentry.ts
  app/utils/logger/utils.ts
  bun.lock
  config/base/deployment.yaml
  docker/otel.ts
  observability/dev-start.js
  observability/index.ts
  observability/providers/base.ts
  observability/providers/otel.ts
  observability/providers/sentry.ts
  observability/start.js
  observability/types.ts
  package.json
  react-router.config.ts
  vite.config.ts
Due: eslint, prettier

Fix docker env
  Dockerfile
Due: none

Fix deployment env
  config/base/deployment.yaml
Due: none

[Enhance #288] Adjust Favicons for staff portals
  app/components/logo/logo-icon.tsx
  app/components/logo/logo-text.tsx
  app/components/logo/logo.styles.tsx
  app/components/misc/favicon-links.tsx
  app/root.tsx
  public/favicon.ico
  public/favicons/dark/android-chrome-192x192.png
  public/favicons/dark/android-chrome-512x512.png
  public/favicons/dark/apple-touch-icon.png
  public/favicons/dark/favicon-16x16.png
  public/favicons/dark/favicon-32x32.png
  public/favicons/dark/favicon.ico
  public/favicons/dark/site.webmanifest
  public/favicons/light/android-chrome-192x192.png
  public/favicons/light/android-chrome-512x512.png
  public/favicons/light/apple-touch-icon.png
  public/favicons/light/favicon-16x16.png
  public/favicons/light/favicon-32x32.png
  public/favicons/light/favicon.ico
  public/favicons/light/site.webmanifest
  public/images/logo.svg
Due: eslint, prettier

fix: update chart to support rechart v3
  app/modules/shadcn/ui/chart.tsx
Due: eslint, prettier

Upgrade react-router
  bun.lock
  package.json
Due: prettier

Upgrade cypress
  bun.lock
  package.json
Due: prettier

Adjust zod schema to support v4
  app/components/dialog/dialog-form.tsx
  app/modules/datum-ui/code-editor/components/code-editor.types.ts
  app/modules/prometheus/validator.ts
  app/resources/schemas/auth.schema.ts
  app/resources/schemas/common.schema.ts
  app/resources/schemas/domain.schema.ts
  app/resources/schemas/export-policy.schema.ts
  app/resources/schemas/httpproxy.schema.ts
  app/resources/schemas/organization.schema.ts
  app/resources/schemas/project.schema.ts
  app/resources/schemas/user.schema.ts
  app/utils/config/env.server.ts
Due: eslint, prettier

Update calendar component
  app/modules/shadcn/ui/calendar.tsx
  bun.lock
  package.json
Due: eslint, prettier

[Fix #171] Sentry: Error: Unexpected Server Error
  app/modules/auth/strategies/zitadel.strategy.ts
Due: eslint, prettier

Add suffix cookie name
  app/utils/cookies/base.ts
Due: eslint, prettier

[Enhance #341] Session conflict when accessing Staff Portal after logging in to Cloud Portal
  app/modules/auth/oauth.helper.ts
  app/modules/auth/strategies/zitadel.strategy.ts
  app/utils/cookies/base.ts
Due: eslint, prettier

use enum instead of string
  app/modules/auth/oauth.helper.ts
  app/modules/auth/strategies/zitadel.strategy.ts
Due: eslint, prettier

feat: Add AuthenticationCard component to account page
  app/features/profile/components/authentication-card.tsx
  app/features/profile/index.ts
  app/routes/account.tsx
Due: eslint, prettier

[Fix #175] Staff "My Profile" - Auto Choose Timezone and Allow for City Search
  app/components/select/autocomplete-grouped.tsx
  app/components/select/timezone.tsx
  app/components/select/timezones.json
  app/features/preferences/components/preferences-form.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/providers/app.provider.tsx
  app/routes/auth/logout.tsx
  app/utils/helpers/timezone.ts
  bun.lock
  package.json
Due: eslint, prettier

[Enhance #257] Implement Generic and User-Specific Email
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/project.request.ts
  app/routes.ts
  app/routes/project/detail/email-activity.tsx
  app/routes/project/detail/layout.tsx
  app/utils/config/routes.config.ts
Due: eslint, prettier

Display email list in main menu
  app/components/app-sidebar/index.tsx
  app/components/error/generic.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/resources/request/client/email.request.ts
  app/resources/request/client/index.ts
  app/resources/request/client/project.request.ts
  app/resources/schemas/email.schema.ts
  app/resources/schemas/index.ts
  app/routes.ts
  app/routes/email-activity.tsx
  app/routes/project/detail/email-activity.tsx
  app/routes/project/detail/layout.tsx
  app/utils/config/routes.config.ts
Due: eslint, prettier

Fixing typecheck error
  app/resources/schemas/email.schema.ts
Due: eslint, prettier

[Enhance #358] Add Quota UI List for Organization and Project
  app/features/quota/components/quota-grant-list.tsx
  app/features/quota/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
  app/resources/request/client/index.ts
  app/resources/request/client/quota.request.ts
  app/resources/schemas/index.ts
  app/resources/schemas/quota.schema.ts
  app/routes.ts
  app/routes/organization/detail/layout.tsx
  app/routes/organization/detail/member.tsx
  app/routes/organization/detail/project.tsx
  app/routes/organization/detail/quota.tsx
  app/routes/project/detail/domain/index.tsx
  app/routes/project/detail/layout.tsx
  app/routes/project/detail/quota.tsx
  app/routes/project/detail/secret.tsx
  app/utils/config/routes.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}, but not: locales/*
  prettier: any of: *.{js,jsx,ts,tsx,json}, but not: locales/*
