Repository datum-cloud/staff-portal: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts}'
      exclude: 'locales/*'
      run: bunx eslint {staged_files} --fix
      auto_add: true
    prettier:
      glob: '*.{js,ts,json}'
      exclude: 'locales/*'
      run: bunx prettier --write {staged_files}
      auto_add: true

feat: setup e2e & unit test
  app/entry.server.tsx
  bun.lock
  cypress.config.ts
  cypress/e2e/home.cy.tsx
  cypress/support/commands.ts
  cypress/support/e2e.ts
  lefthook.yml
  package.json
Due: eslint, prettier

feat: setup ci/cd
  .github/workflows/publish.yaml
  .github/workflows/quality-checks.yml
  bun.lock
  cypress.config.ts
  lefthook.yml
  package.json
Due: eslint, prettier

fix: cypress missing file
  README.md
  cypress/support/component.tsx
  tsconfig.json
Due: prettier

fix: linter & unit test
  .vscode/settings.json
  app/components/welcome.tsx
  app/modules/i18n/lingui.server.ts
  app/modules/i18n/react-router.server.ts
  cypress/component/button.cy.tsx
  eslint.config.mjs
  package.json
  prettier.config.cjs
  prettier.config.mjs
Due: eslint, prettier

fix: unit test & hono
  app/components/logo-dark.svg
  app/components/logo-light.svg
  app/components/welcome.tsx
  app/routes/home.tsx
  app/server/adapter/bun.ts
  app/server/adapter/node.ts
  app/server/context.ts
  app/server/index.ts
  app/server/routes/api.ts
  cypress.config.ts
  cypress/support/component-index.html
  package.json
  public/favicon.ico
  public/images/database.svg
  public/images/logo.png
Due: eslint, prettier

invalidate build cache
  package.json
Due: prettier

fix: translation
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

fix: unit test fail on CI
  cypress.config.ts
Due: eslint, prettier

[Fix #4] Deploy Portal to Staging Environment
  .env.sample
  app/components/misc/client-hints.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/providers/nonce.provider.ts
  app/root.tsx
  app/server/adapter/bun.ts
  app/server/adapter/node.ts
  app/server/context.ts
  app/server/index.ts
  bun.lock
  config/base/deployment.yaml
  config/base/http-route.yaml
  config/base/kustomization.yaml
  config/base/service-monitor.yaml
  config/base/service.yaml
  config/dev/kustomization.yaml
  package.json
Due: eslint, prettier

fix: csp nonce
  app/components/misc/client-hints.tsx
  app/entry.server.tsx
  app/server/index.ts
  bun.lock
  package.json
Due: eslint, prettier

fix: context return type
  app/server/context.ts
  package.json
Due: eslint, prettier

fix: wrong app url
  .datum.meta.json
  bun.lock
  config/base/deployment.yaml
Due: prettier

[Fix #8] Integrate zitadel
  .env.sample
  app/modules/auth/auth.server.ts
  app/modules/auth/session.server.ts
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/axios/axios-curl.ts
  app/modules/axios/index.ts
  app/modules/i18n/lingui.server.ts
  app/routes.ts
  app/routes/auth/callback.tsx
  app/routes/auth/login.tsx
  app/routes/home.tsx
  app/server/index.ts
  app/utils/config/env.server.ts
  app/utils/config/index.ts
  app/utils/errors/auth.ts
  app/utils/errors/base.ts
  app/utils/errors/http.ts
  app/utils/errors/index.ts
  bun.lock
  eslint.config.mjs
  package.json
Due: eslint, prettier

fix: duplicate entry server
  app/entry.client.tsx
  app/entry.server.tsx
Due: none

fix: route guard
  app/layouts/private.layout.tsx
  app/layouts/public.layout.tsx
  app/modules/auth/session.server.ts
  app/modules/auth/strategies/zitadel.server.ts
  app/root.tsx
  app/routes.ts
  app/routes/auth/callback.tsx
  app/routes/auth/login.tsx
  config/base/deployment.yaml
Due: eslint, prettier

fix: temp disable e2e test
  .github/workflows/quality-checks.yml
Due: none

Remove unused secret
  config/base/deployment.yaml
Due: none

[Fix #14] integrate opentelemetry and expose prom metrics endpoint
  app/modules/auth/strategies/zitadel.server.ts
  app/server/entry.ts
  app/server/index.ts
  app/server/otel.ts
  app/utils/config/env.server.ts
  bun.lock
  config/base/deployment.yaml
  package.json
  tsconfig.json
Due: eslint, prettier

adjust otel setup
  app/server/entry.ts
  app/server/index.ts
  app/utils/config/env.server.ts
  app/utils/helpers/index.ts
  app/utils/helpers/string.helper.ts
Due: eslint, prettier

add dev tools
  dev/docker/grafana/datasources/datasource.yml
  dev/docker/grafana/env.example
  dev/docker/otel-collector-config.yml
  dev/docker/prometheus/config.yml
  docker-compose.yml
Due: none

Standardized logout and cookie creationg
  app/components/welcome.tsx
  app/layouts/private.layout.tsx
  app/layouts/public.layout.tsx
  app/modules/auth/auth.server.ts
  app/modules/auth/session.server.ts
  app/modules/auth/strategies/zitadel.server.ts
  app/routes.ts
  app/routes/auth/callback.tsx
  app/routes/auth/logout.tsx
  app/utils/cookies/base.ts
  app/utils/cookies/index.ts
  app/utils/cookies/session.ts
  app/utils/cookies/token.ts
  app/utils/helpers/cookie.helper.ts
  app/utils/helpers/index.ts
Due: eslint, prettier

fix: missing translation
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

fix dependencies
  bun.lock
Due: none

fix command
  package.json
  renovate.json
Due: prettier

fix workflow
  .github/workflows/quality-checks.yml
Due: none

fix command
  package.json
Due: prettier

[Fix #11] As a staff user I should be able to list all the existing organizations
  app/components/welcome.tsx
  app/modules/shadcn/lib/utils.ts
  app/modules/shadcn/ui/avatar.tsx
  app/modules/shadcn/ui/button.tsx
  app/styles/root.css
  bun.lock
  components.json
  package.json
Due: eslint, prettier

Test sidebar
  .vscode/extensions.json
  app/components/sidebar/index.tsx
  app/components/sidebar/nav-main.tsx
  app/components/sidebar/nav-projects.tsx
  app/components/sidebar/nav-user.tsx
  app/components/sidebar/team-switcher.tsx
  app/layouts/private.layout.tsx
  app/modules/shadcn/app-sidebar.tsx
  app/modules/shadcn/hooks/use-mobile.ts
  app/modules/shadcn/nav-main.tsx
  app/modules/shadcn/nav-projects.tsx
  app/modules/shadcn/nav-user.tsx
  app/modules/shadcn/team-switcher.tsx
  app/modules/shadcn/ui/avatar.tsx
  app/modules/shadcn/ui/breadcrumb.tsx
  app/modules/shadcn/ui/button.tsx
  app/modules/shadcn/ui/collapsible.tsx
  app/modules/shadcn/ui/dropdown-menu.tsx
  app/modules/shadcn/ui/input.tsx
  app/modules/shadcn/ui/separator.tsx
  app/modules/shadcn/ui/sheet.tsx
  app/modules/shadcn/ui/sidebar.tsx
  app/modules/shadcn/ui/skeleton.tsx
  app/modules/shadcn/ui/tooltip.tsx
  app/root.tsx
  app/routes.ts
  app/routes/dashboard.tsx
  app/routes/home.tsx
  bun.lock
  components.json
  package.json
  vite.config.ts
Due: eslint, prettier

Test sidebar
  app/modules/shadcn/app-sidebar.tsx
  app/modules/shadcn/hooks/use-mobile.ts
  app/modules/shadcn/nav-main.tsx
  app/modules/shadcn/nav-projects.tsx
  app/modules/shadcn/nav-user.tsx
  app/modules/shadcn/team-switcher.tsx
  app/modules/shadcn/ui/avatar.tsx
  app/modules/shadcn/ui/breadcrumb.tsx
  app/modules/shadcn/ui/button.tsx
  app/modules/shadcn/ui/collapsible.tsx
  app/modules/shadcn/ui/dropdown-menu.tsx
  app/modules/shadcn/ui/input.tsx
  app/modules/shadcn/ui/separator.tsx
  app/modules/shadcn/ui/sheet.tsx
  app/modules/shadcn/ui/skeleton.tsx
  app/modules/shadcn/ui/tooltip.tsx
Due: eslint, prettier

[Fix #22] Create base layout + navigation
  app/modules/shadcn/hooks/use-mobile.ts
Due: eslint, prettier

[Fix #22] Add demo components
  app/components/demo/card-account.tsx
  app/components/demo/card-activity.tsx
  app/components/demo/card-calendar.tsx
  app/components/demo/card-chat.tsx
  app/components/demo/card-cookie.tsx
  app/components/demo/card-exercise.tsx
  app/components/demo/card-form.tsx
  app/components/demo/card-payment.tsx
  app/components/demo/card-report.tsx
  app/components/demo/card-share.tsx
  app/components/demo/card-stats.tsx
  app/components/demo/card-team.tsx
  app/modules/shadcn/ui/calendar.tsx
  app/modules/shadcn/ui/card.tsx
  app/modules/shadcn/ui/chart.tsx
  app/modules/shadcn/ui/checkbox.tsx
  app/modules/shadcn/ui/command.tsx
  app/modules/shadcn/ui/dialog.tsx
  app/modules/shadcn/ui/label.tsx
  app/modules/shadcn/ui/popover.tsx
  app/modules/shadcn/ui/radio-group.tsx
  app/modules/shadcn/ui/select.tsx
  app/modules/shadcn/ui/switch.tsx
  app/modules/shadcn/ui/table.tsx
  app/modules/shadcn/ui/textarea.tsx
  app/routes/dashboard.tsx
  bun.lock
  package.json
Due: prettier

[Fix #22] Add demo components
  app/components/app-sidebar/index.tsx
  app/components/app-sidebar/nav-user.tsx
  app/components/demo/card-stats.tsx
  app/layouts/private.layout.tsx
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/shadcn/ui/chart.tsx
  app/providers/app.provider.tsx
  app/resources/api/auth.resource.ts
  app/resources/schemas/auth.schema.ts
  app/root.tsx
  app/routes.ts
  app/routes/dashboard.tsx
  app/routes/demo.tsx
  bun.lock
  package.json
Due: eslint, prettier

Missing translations
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/en.ts
  app/modules/i18n/locales/fr.po
  app/modules/i18n/locales/fr.ts
Due: none

[Fix #28] Setup Token Expiration Handler for Authentication
  .env.sample
  app/components/app-sidebar/nav-user.tsx
  app/components/app-topbar/index.tsx
  app/layouts/private.layout.tsx
  app/layouts/public.layout.tsx
  app/modules/auth/auth.server.ts
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/axios/index.ts
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/providers/app.provider.tsx
  app/providers/auth.provider.tsx
  app/root.tsx
  app/routes.ts
  app/utils/config/env.server.ts
  lefthook.yml
Due: eslint, prettier

Add lefthook
  lefthook.yml
Due: none

Data management with TanStack Query integration
  app/components/error/auth.tsx
  app/components/error/generic.tsx
  app/global.d.ts
  app/layouts/private.layout.tsx
  app/modules/auth/auth.server.ts
  app/modules/auth/strategies/zitadel.server.ts
  app/modules/axios/axios.client.ts
  app/modules/axios/axios.server.ts
  app/modules/shadcn/ui/data-table.tsx
  app/modules/tanstack/query.ts
  app/resources/api/auth.resource.ts
  app/resources/api/organization.resource.ts
  app/root.tsx
  app/routes/auth/callback.tsx
  app/routes/customers/organization.tsx
  app/server/entry.ts
  app/utils/errors/base.ts
  bun.lock
  package.json
Due: eslint, prettier

Formatting code
  app/global.d.ts
  app/modules/tanstack/query.ts
Due: eslint, prettier

Adjust error page
  app/components/error/auth.tsx
  app/components/error/generic.tsx
  app/server/entry.ts
Due: eslint, prettier

[Fix #34] Implement Action Bar
  app/components/app-actiobar/index.tsx
  app/components/app-sidebar/index.tsx
  app/components/app-toolbar/index.tsx
  app/layouts/private.layout.tsx
  app/modules/i18n/locales/en.po
  app/modules/i18n/locales/fr.po
  app/providers/app.provider.tsx
  app/providers/auth.provider.tsx
  app/root.tsx
  app/routes.ts
  app/routes/customer/index.tsx
  app/routes/customer/layout.tsx
  app/routes/customer/organization.tsx
  app/routes/customer/user.tsx
  app/routes/customers/user.tsx
Due: eslint, prettier
